.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode
*.csv
*#
*~
cache
__pycache__
.dir-locals.el
.idea/
.ipynb_checkpoints/
*.7z
*.html
*.gz
*.out
*.state
notebooks/charts
notebooks/models
notebooks/runs
runs/
agnis/
data/
plots
*.zip
*.npy
*Copy*
.pytest_cache/README.md
*.egg-info/*
.mypy_cache